
h1{
  text-align: center;
  color: blue;
  font-family: serif;

h2{

}

.mainimg {
  display: block;
  margin: auto;
  width: 400px;
}
.box {
  display: block;
  margin: auto;
  width: 80%;
  padding: 40px 50px 40px 50px;
}

.lowerimg {
    position:absolute;
    margin-right: 200px;
    width: 100px;
}
}
#reservationlink {
font-size: 20px
}
#address {

}
